body {
  padding-top: 20px;
}

.header {
  border-bottom: 1px solid #EEE;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.brand {
  font-size: 28px;
  line-height: 1;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

h3.title {
  margin: 25px 0;
  font-weight: normal;
  color: #444;
}

.apps img {
  width: 560px;
  max-height: 230px;
}

