<p>Estimado(a) <b><%= @user.name || @user.email %></b>, </p>

<p>Su evaluación de la encuesta <%= @service_survey.title %> ha sido enviada con éxito.</p>
<BR/>

<p>
Le agradecemos su participación y le invitamos a seguir evaluando la atención que recibe en algún otro trámite que realice en los centros de atención ciudadana del Gobierno del Estado de Puebla, con el fin de mejorar la atención.
</p>
<BR/>

<p>Encuestas de Satisfacción
Gobierno del Estado de Puebla.
</p>
