<p>Hola <b><%= @user.name || @user.email %></b>, </p>

<p>Comentario nuevo: <%= @comment.content %> para el Reporte: <%= @comment.service_request.service.name%> ha sido enviada con éxito.</p>

<p>Gracias.</p>
