<p>Estimado(a) <b><%= @mail %></b></p>

<p>Gracias por realizar un Trámite en el Estado de Puebla, por favor contesta la siguiente encuesta para evaluar nuestro servicio: <a href=<%= @link %>> aquí</a> </p>

<p>Encuestas de Satisfacción
Gobierno del Estado de Puebla.
</p>
