<p>Estimado(a)<b><%= @user.name || @user.email %></b>, </p>

<p>Usted tiene un comentario nuevo: <%= @comment.content %> para el Reporte: <%= @comment.service_request.service.name%></p>

<p>Encuestas de Satisfacción
Gobierno del Estado de Puebla.
</p>
