<h3>Estimado(a) Ciudadano(a):</h3>

<p>¡Te damos la bienvenida a la plataforma Evalúa tu Trámite!</p>
<p>Tu cuenta ha sido registrada con el siguiente correo electrónico: <strong><%= @user.email %></strong>.</p>
<p>Para editar tu información o cambiar tu contraseña visita tu <%= link_to 'Perfil', edit_user_registration_url %>.</p>

<p>
  En este sitio podrás evaluar la atención brindada en los Trámites y Servicios del Gobierno del Estado de Puebla.
  Además, podrás levantar y dar seguimiento a las Quejas y Sugerencias que desees presentar.
</p>

<p>
  La Mejora Regulatoria tiene la finalidad de promover la participación ciudadana a través del uso de herramientas electrónicas para la optimización continua de la gestión administrativa enfocándose en la revisión, simplificación y mejora de servicios, teniendo como objetivo impulsar la eficiencia de la Administración Pública en beneficio de la sociedad.
</p>

<p>Gracias por tu participación.</p>

<p>
  <strong>
    Dirección de Gobernanza y Mejora Regulatoria.<br>
    Secretaría de Finanzas y Administración.
  </strong>
</p>




