.activity.comment
  = image_tag comment.commentable.avatar_url(:thumb), class: "avatar"
  %p= comment.content
  %p.name= comment.commentable.is_a?(Admin) ? 'Administrador' : comment.commentable.name
  .date
    %i.icon-time
    = comment.created_at.strftime("%d/%m/%Y")
