.unit.comment
  = image_tag comment.commentable.avatar_url, class: "avatar"
  .created_by
    = comment.commentable.is_a?(Admin) ? 'Administrador' : comment.commentable.name
  .content
    = comment.content

