.l-margin-s-bottom {
  margin-bottom: 10px;
}

.l-margin-m-bottom {
  margin-bottom: 20px;
}

.l-margin-l-bottom {
  margin-bottom: 30px;
}

.l-margin-s-right {
  margin-right: 10px;
}

.l-blocky {
  display: block;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

#wrap > .container {
  padding: 70px 15px 0px;
}

#footer {
  height: 100px;
  background-color: #303030;
  color: #FFF;

  .footer-logo {
    margin: 0 auto;
  }
}
