.l-margin-s-bottom {
  margin-bottom: 10px;
}

.l-margin-m-bottom {
  margin-bottom: 20px;
}

.l-margin-l-bottom {
  margin-bottom: 30px;
}

.l-margin-s-right {
  margin-right: 10px;
}

.l-blocky {
  display: block;
}

.l-page-header-no-margin {
  margin-top: 0px;
}

.pipe-left{
    display: inline;
    padding: 0 10px;
    border-left: solid 1px black;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto 0px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

#wrap > .container {
  padding: 70px 15px 0px;
}

#page-content-wrapper > .container {
  padding: 15px;
}

navbar-logo-full {
  width: 260px !important;
}

img.navbar-logo {
  width: 160px;
}

.navbar-nav {
  padding: 5px;
}

.pagination-right {
  float: right;
}

#footer{
  height: 35px;
  color: #FFF;
  padding-bottom: 0;
  background: url(image_path('footer.png')) left bottom;
  background-size: contain;
}

.table-responsive {
  overflow-x: scroll;
}
