$grey-kpi: #f2f2f2;
$grey-navbar: #f7f7f7;
$blue-line: #005195;
$text-grey-kpi: #ffffff;
$kpi-border: #575756;
$blue-back: #00417C;
/***************************************************
**  COMMON ELEMENTS
***************************************************/
.loading {
  display: inline-block;
  background: image-url('loader.gif') no-repeat center right;
  padding-right: 20px;
}

.field_with_errors {
  @extend .has-error;
  color: $state-danger-text;
}

#error_explanation {
  margin-bottom: 10px;

  h2 {
    font-size: 14px;
    background-color: #f2dede;
    color: #b94a48;
    padding: 10px;
    border-radius: 4px;
  }

  ul {
    margin: 0;
    padding: 0px 15px;
    color: #b94a48;
  }
}

.rc-icon {
  display: inline-block;
  background: image-url('social-sprite.png') no-repeat;

  &.i-facebook {
    width: 10px;
    height: 21px;
    background-position: 0 0;
  }

  &.i-twitter {
    width: 19px;
    height: 16px;
    background-position: -19px -2px;
  }
}

.social-signup {
  position: relative;
  color: #fff;
  width: 112px;
  border-radius: 3px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding: 10px;

  &.social-signup-fb {
    background-color: #3c5a97;
  }

  &.social-signup-tt {
    background-color: #019ad2;
  }

  &:hover {
    text-decoration: none;
    color: $gray-lighter;
  }

  .i-facebook {
    position: absolute;
    left: 10px;
    top: 6px;
  }

  .i-twitter {
    position: absolute;
    left: 5px;
    top: 8px;
  }

  .social-signup-text {
    padding-left: 15px;
    border-left: 1px solid rgba(34,34,34,0.18);
    margin-left: 17px;
    display: inline-block;
  }
}

.other-logins {
  .social-sign-in, .other-logins-registration {
    display: inline-block;
  }
  .other-logins-registration {
    margin-right: 24px;
  }
}

/***************************************************
**  Landing
***************************************************/
#landing {
    display: table;
    position: bottom;
    width: 100%;
    height: 100%;
    background: url(image_path('bg.png'))  no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
/***************************************************
**  HOME Video
***************************************************/
.video{
  width: 80%;
  height: 28em;
  margin-left: 10%; 
}

.video-text{
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
  color: #ffffff;
  font-family:  "Helvetica Neue Bold", sans-serif;
  font-size: 17px;
}

.join-text{
  font-family:  "Helvetica Neue Bold", sans-serif !important;
  padding-top: 1em;
  padding-bottom: .5em;
  border-radius: 15px;
  color: #ffffff;
  font-weight: bold;
}

.hight-video{
  width: 80%;
  height: 20vw;
  margin-left: 18%; 
}


.texto-right{
  text-align: right; 
}
/***************************************************
**  datepicker
***************************************************/
.ui-datepicker {
  background-color: #fff;
  border: 1px solid #66AFE9;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(102,175,233,.6);
  display: none;
  margin-top: 4px;
  padding: 10px;
  width: 260px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
  text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
  color: #2A6496;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
  margin-bottom: 4px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title {
  font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  cursor: default;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 17px;
  line-height: 1;
  margin-top: 2px;
  width: 75px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -14px;
  top: 50%;
  margin-top: -9px;
}
.ui-datepicker .ui-datepicker-prev {
  float: left;
  text-align: left;
}
.ui-datepicker .ui-datepicker-next {
  float: right;
  text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
  content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
  content: "\e080";
}
.ui-datepicker .ui-icon {
  display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
  padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
  border-radius: 4px;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
  background-color: #eee;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
  background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
  color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
  background-color: #fff;
  cursor: default;
}
/***************************************************
**  KPIS
***************************************************/
.panel-gray {
  background: rgba(0, 73, 135, .2);
  margin: 5px 15px 25px;
  border-radius: 10px;
  overflow:hidden;
}
.panel-gray .panel-heading {
  color: #000;
  background: rgba(0, 73, 135, .2);
}
.panel-gray a {
  color: rgba(255, 255, 255, .2);
}

.number-kpi{
  color: $text-grey-kpi;
  font-size: 50px;
  font-family:  "Helvetica Neue Bold", sans-serif;
}
.text-kpi{
  color: $text-grey-kpi;
  font-size: 14px;
  font-family:  "Helvetica Neue Light", sans-serif;
}

.padding-top-kpi{
  padding-top: 10px;
  padding-bottom: 10px;
}

/***************************************************
**  Paddings AND Margins
***************************************************/
.padding-top{
  padding-top: 1.4em;
}
.padding-top-container{
  padding-top: 4em;
}
.padding-top-footer{
  padding-top: 73px;
}
.margin-top{
  margin-top: 2em;
 } 
.padding-top-observer{
  padding-top: 1em;
}
.margin_left{
  margin-left: 10%; 
}
.margin_right{
  margin-right: 10%; 
}
.margin-bottom{
  margin-right: 10%; 
}
.padding-bottom{
  padding-bottom: 2em; 
}
.right{
  float: right;
}
.padding-top-observer{
   padding-top: 2.9em;
}

/***************************************************
**  sizes
***************************************************/
.match_parent{
  width: 100%;
}
.half_content{
  width: 50%;
}

.font-titles{
  color: #133150;
  font-size: 23px;
  font-family:  "Helvetica Neue", sans-serif;
}

.font-titles-bold{
  color: $blue-line;
  font-size: 35px;
  font-family:  " Helvetica Neue Bold", sans-serif;
}
.font-title-h1{
  color: $blue-line !important;
  font-family:  "Helvetica Neue Light", sans-serif;
}
.font-title-table{
  color: $blue-line !important;
}
.font-title-section{
  color: $blue-line !important;
  font-size: 30px;
  font-family:  "Helvetica Neue Light", sans-serif;
}
.font-button{
  color: #ffffff !important;
  font-size: 19px  !important;
  font-family:  "Helvetica Neue Regular", sans-serif;
}

.font-button-small {
  font-family: "Helvetica Neue Regular", sans-serif;
}
.control-label-left {
  text-align: left;
  padding-top: 5px;
}

.chosen-container-single .chosen-single {
  /* position: relative; */
  display: block;
  overflow: hidden;
  padding: 0 8px 0 8px;
  height: 33px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ffffff 20%, #ffffff 50%, #ffffff 52%, #ffffff 100%);
  background: linear-gradient(top, #ffffff 20%, #ffffff 50%, #ffffff 52%, #ffffff 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
/***************************************************
**  NAVBAR
***************************************************/
.navbar-up{
  height: 30px !important;
  background-color: $grey-navbar;
  border-bottom: 1px solid #ccc;
}
.navbar-default-admin {
  background-color: #fff;
  border-color: #e7e7e7;
  font-family:  "Helvetica Neue bold", sans-serif;
  border-bottom: 4px solid $blue-line;
  border-top: 4px solid $blue-line;
}
ul
{
    list-style-type: none;
}
.navbar-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.title-observer{
  margin-top: 54px;
  padding-top: 15px;
  background-color: #f8f8f8;
  width: 80% !important;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  font-family:  "Helvetica Neue Bold", sans-serif;
  color: #004987;
  white-space: nowrap;
}

.text-one-line{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; // This is where the magic happens
  }

/***************************************************
**  HOME REPORT STATS
***************************************************/
.reports-stats {

  .reports-stats-block {
    padding: 30px;
    text-align: center;
    font-size: 4em;
    line-height: 50px;
    font-weight: bold;

    &.mid {
      border-left: 1px solid #CCC;
      border-right: 1px solid #CCC;
      margin-bottom: 20px;
    }

    .reports-stats-name {
      font-size: 20px;
      line-height: 20px;
    }

  }
}


/***************************************************
**  BLOCK SUMMARY
***************************************************/
.blk-summary {
  .blk-summary-title {
    border-top: 1px solid #DDDDDD;
    padding-top: 30px;
     color: $blue-line !important;
    font-family: "Helvetica Neue Light", sans-serif;
  }
}


/***************************************************
**  FILTERS
***************************************************/
.filters {
 /* @include clearfix;*/
  background: #FAFAFA;
  border: 1px solid #e0e0e0;

  .form-group {
    padding: 10px;
    &.form-group-separator {
      border-right: 1px solid #EEE;
    }
  }

}

/***************************************************
**  HOME REPORTS MAP
***************************************************/

.map {
  min-height: 320px;

  #reports-map {
    width: 100%;
    height: 400px;
    display: block;
  }
}

/***************************************************
**  RECENT REPORTS LIST AT HOME
***************************************************/
.recent-report-sum {
  background: $gray-lighter;
  padding: 10px 10px 0px;
  margin-bottom: 10px;
  list-style: none;

  .recent-report-title {
    display: inline-block;
  }

  .recent-report-counter {
    font-size: 30px;
    text-align: center;
  }

}


/***************************************************
**  SHOW REPORT
***************************************************/

.report-show {

  .report-show-title {
    background-color: #FAFAFA;
    height: 60px;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    margin: 0;
  }
  .report-show-map {
    background-color: #CCCCCC;
  }

  .report-show-information {
    padding: 20px;
    background-color: #EEEEEE;
  }

}

.stream {
  padding-left: 100px;
  padding-top: 40px;
  position: relative;
  margin-bottom: 50px;

  &:before {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    background-color: #EEEEEE;
    left: 48px;
    top: 0;
  }

  .activity {
    position: relative;
    padding: 10px;
    background-color: #EFEFEF;
    @include box-shadow(1px 1px 0px #DDDDDD);
    margin-bottom: 20px;
    width: 75%;
    z-index: 1000;
    font-size: 18px;

    &:before {
      width: 20px;
      height: 20px;
      content: '';
      background-color: $brand-info;
      @include border-radius(50%);
      display: block;
      position: absolute;
      left: -59px;
      top: 10px;
      z-index: 10;
    }
    &:after {
      width: 55px;
      height: 5px;
      content: '';
      background-color: #EEEEEE;
      display: block;
      position: absolute;
      left: -55px;
      top: 17px;
      z-index: 0;
    }

    img.avatar {
      width: 45px;
      height: 45px;
      border: 4px solid #FFF;
      @include box-shadow(1px 1px 2px #DDDDDD);
      position: absolute;
      left: -75px;
      top: 0;
      z-index: 1000;
    }

    .date {
      position: absolute;
      width: 30%;
      right: -35%;
      top: 5px;
      height: 30px;
      font-size: 16px;
      line-height: 30px;
      color: #666;
      font-weight: normal;

      i {
        margin-right: 5px;
      }
    }

    &.description, &.comment {

      p {
        margin: 0 0 5px 0;
      }
      .name {
        text-align: right;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
      }
    }

    &.comment {
      .comment-img {
        width: 100%;
      }
    }

    &.form {
      textarea {
        width: 100%;
        height: 90px;
        border: none;
        padding: 10px;
        @include box-sizing(border-box);
        margin-bottom: 5px;
      }

      input[type=file] {
        font-size: 12px;
      }
    }

    &.start {
      background-color: $brand-info;
      color: #FFF;
      font-weight: bold;
    }

  }
}

.profile-report-count {
  font-size: 42px;
  text-align: center;
}


/**************
** Images container drag & drop
***************/

.image_uploader {
  height: 100px;
  width: 610px;
  border: 2px dashed #ccc;
  visibility: hidden;
}

.image_container {
  border: 2px dashed #ccc;
  width: 100px;
  height: 100px;
  text-align: center;
  position: absolute;
  bottom: 10px;

  &:hover {
    cursor: pointer;
  }

  .add_image {
    font-size: 72px;
    color: #999;
    font-weight: bold;
  }
}

.destroy_comment {
  float: left;
}


/**************
** Forms
***************/
.form-short-stacked {
  max-width: 460px;
  padding: 15px;
  margin: 0 auto;
  position: relative;

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 0px;

    &.top-field {
      margin-bottom: -1px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.bottom-field {
      margin-bottom: 10px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &.one-field {
      margin-bottom: 10px;
      border-radius: 4px;
    }
  }

}

.plain-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/**************
** Reports
***************/

#new-report-map{
  height: 320px;
}

.table-header {

  &:hover {
    cursor: pointer;
  }
}

.image.tight img {
  width: 100%
}

span.address {
  font-size: 12px;
}

.info_window_image {
  margin-right: 5px;
  float: left;
}

.info_window_description {
  margin-top: 5px;
}

.info_window_link {
  display: block;
}

.errors-form {
  background: $label-danger-bg;
  color: $label-color;
  font-size: $font-size-small;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: $border-radius-base;
}

#bounding-box-map {
  height: 320px;
}

/**************
** Tables
***************/
.no-border-rows{
  tbody > tr > td{
    border: none;
  }
}
