FACEBOOK_SECRET='c679a012b29dae65f4064gdf60ded4e'
FACEBOOK_KEY='85082984397100496'

# Twitter credentials
TWITTER_KEY='k0G5VKP4fhvmXtXRmTBJrBWse'
TWITTER_SECRET='1KyyEZBG1lrhJLNfVKwl5nXZqP4JO1IerdUPtnXwA21mODTzeeQh'
TWITTER_OAUTH_TOKEN='769857946-r8t3OUWwtgXFJSRFUFrv6A8z5Z0ntvzEVXQsZF2aX'
TWITTER_OAUTH_TOKEN_SECRET='8TweL115FcdGj8kZj6Serq9tj1mvTJwKBvTLC7oP6DsfHOlWW'

# Sendgrid credentials
SENDGRID_USERNAME='urbem'
SENDGRID_PASSWORD='sendgrid-p4ssw0rd'

# Coverall credentials
COVERALLS_TOKEN='W2si1O8KjiHLsIasdtrBytltBaMWL7uxHU46'

# From whom do I send the emails from
MAILER_FROM='urbem@example.com'

# S3 credentials
S3_BUCKET='urbem-puebla-docker'
AWS_SECRET='TKI9IKEJ3X3G4fJy377A'
AWS_KEY='cP8SsRBR146EMgzZodasaXW/iSciCc8EIETEfasBnTD5T&'

SECRET_KEY_BASE='a0d5eb1d3s034c9e98aa54857220a92185b28743422b0b214'
RAILS_ENV=production
