$blue-background: #133150;
$blue-line: #005195;
#wrapper {
  &.is-logged-in {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
  }
  padding-left: 0;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: $blue-background;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;

}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    line-height: 40px;
    text-indent: 20px;

    .sidebar-info-text {
      color: #ffffff;
    }

    a {
      color: #999999;
      display: block;
      text-decoration: none;
      &:hover {
        color: #fff;
        background: rgba(255,255,255,0.2);
        text-decoration: none;
      }
      &:active, &:focus {
        text-decoration: none;
      }
    }

    &.admin-email {
      color: #999999;
    }

    i.glyphicon {
      display: inline;
      font-size: 10px;
    }

  }
  hr {
    border-top: 1px dotted #666;
  }

  .caret {
    border-top:4px solid #999999;
  }

  ul {
    list-style: none;
  }
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
  a {
    color: #999999;
    &:hover {
      color: #fff;
      background: none;
    }
  }
}

.content-header {
  height: 65px;
  line-height: 65px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eeeeee;
  h2 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
    color: $blue-line !important;
    font-family:  "Helvetica Neue Light" !important;
  }
}

.page-content {
  h2 {
    color: $blue-line !important;
    font-family:  "Helvetica Neue Light" !important;
  }
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

.admin-actions {
  margin-top: 10px;
  margin-bottom: 30px;
}

@media (max-width:767px) {

  #wrapper {
    &.is-logged-in {
      padding-left: 0;
    }
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 250px;
    #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }
  }

  #menu-toggle {
    display: inline-block;
  }

  .inset {
    padding: 15px;
  }

}


/***** Admin Forms *****/

.add-message {
  margin-bottom: 30px;
}

.l-grid {
  li {
    float: left;
    margin: 5px;
  }
}

.dashboard-entity {
  .dashboard-entity-header {
    h2 {
      display: inline-block;
      margin-right: 10px;
    }
    .dashboard-entity-header-tools {
      display: inline-block;
    }
  }
}

.containeres{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.dynamic-report-title{
  font-size: '.6em';
  h4{
    color: #999999;
  }
}

.dynamic-report-container{
  border:none;

}