.col-lg-4.col-md-6.padding-top
  = content_tag :div, class: "panel #{kpi[:panel]}" do
    .panel-heading
      .row
        .col-xs-12.text-right
          = content_tag :div, kpi[:value], class: 'h3 text-center'
          %br
          = content_tag :div, kpi[:message], class: 'reports-stats-name text-center'
              