.col-lg-4.col-md-6
  = content_tag :div, class: "panel #{kpi[:panel]}" do
    .panel-heading
      .row
        .col-xs-4
          = content_tag :div, kpi[:value], class: 'text-center number-kpi'
        .col-xs-6.padding-top-kpi
          = content_tag :div, kpi[:message], class: 'text-center text-kpi'
              