<p>Hola, <strong><%= @admin.name %></strong>.</p>

<p>Se te asígno un trámite, es importanto que le des seguimiento.</p>

Email: <strong><%= @admin.email %></strong><br>

<p>Gracias por tu colaboración.</p>
