<p>Hola, <strong><%= @admin.name %></strong>.</p>

<p>Se te asignó un trámite, es importante que le des seguimiento.</p>

Email: <strong><%= @admin.email %></strong><br>

<p>Gracias por tu colaboración.</p>
