<p>Estimado(a), <strong><%= @admin.name %></strong>.</p>

<p>Te informamos que se te ha asignado una nueva Queja o Sugerencia, es importante emitir la respuesta o comentarios pertinentes y darle seguimiento hasta su conclusión.</p>

Email: <strong><%= @admin.email %></strong><br>

<p>
Gracias por tu colaboración.
Encuestas de Satisfacción
Gobierno del Estado de Puebla.
</p>
