APP_NAME: ''
AWS_KEY: ''
AWS_SECRET: ''
COVERALLS_TOKEN: ''
FACEBOOK_KEY: ''
FACEBOOK_SECRET: ''
HOST: ''
MAILER_FROM: ''
POSTGRES_PASSWORD: ''
POSTGRES_PORT_5432_TCP_ADDR: ''
POSTGRES_PORT_5432_TCP_PORT: ''
POSTGRES_USERNAME: ''
REDIS_PORT_6379_TCP_ADDR: ''
REDIS_PORT_6379_TCP_PORT: ''
S3_BUCKET: ''
SECRET_KEY_BASE: ''
SENDGRID_PASSWORD: ''
SENDGRID_USERNAME: ''
SMTP_ADDRESS: ''
SMTP_DOMAIN: ''
SMTP_PASSWORD: ''
SMTP_PORT: ''
SMTP_USER: ''
TWITTER_KEY: ''
TWITTER_OAUTH_TOKEN: ''
TWITTER_OAUTH_TOKEN_SECRET: ''
TWITTER_SECRET: ''
VEDA_ELECTORAL:     # true or false cambia el template
