{
  "id": "secret",
  "email": "mi.cuenta@correo.org",
  "facebook": {
    "secret": "dsafjdskfhajdksfhkjadshlf",
    "key": "fadfhlaidshfiadshfih"
  },
  "twitter": {
    "key": "2534875982734597",
    "secret": "asfandskjfndskjfdsbfadshhjhj",
    "oauth_token": "adsfnsdkjfnaskdjfbahdsbffffffdsjf",
    "oauth_token_secret": "afsdjknkjadsfnlkadbssajf"
  },
  "sendgrid": {
    "username": "mi_usuario",
    "password": "?mi_p4ssword!!!"
  },
  "smtp": {
    "user": "",
    "password": "",
    "domain": "reporteciudadano.puebla.org",
    "address": "smtp.correos.org",
    "port": "80"
  },
  "coverall_token": "afdsfknadsknfkjadsf",
  "rails": {
    "env": "production",
    "secret_key_base": "asfandskjfnadskjfnakjdsnfkjasdnfkjnadsfjnadsjkfnadsknfkjadsnlfkadsnkjfnkjladsnfkjandsk"
  },
  "postgres": {
    "password": ""
  },
  "aws": {
    "aws_secret": "asdjabskjdbhjsbdjabsdkjasb/jakskjasbdk",
    "aws_key": "ASDKJFNAKDSJBFKASD",
    "s3_bucket_name": "urbem",
    "s3_bucket_backup_name": "urbem"
  },
  "app_name": "urbem",
  "host": "urbem:80",
  "ssl": {
    "secret": "/etc/rsa_secret.pem",
    "public": "/etc/rsa_public.pem"
  }
}
