<div class="page-content inset">
  <h3><%= t(".assign_services") %></h3>
  <%= form_for(@public_servant, url: admins_public_servant_path(@public_servant.id), html: { method: :patch, class: "form-horizontal" }) do |f| %>

  <fieldset>
    <div class="form-group">
      <div class="col-md-5">
        <%= f.select :services_ids, @available_services.collect {|p| [p.name, p.id,selected: is_assigned_to_public_servant?(p, @public_servant)]}, { prompt: t('service_requests.form.prompt_center') }, { class: 'js-load_service_fields chosen-select',:multiple=>true }%>  
      </div>
    </div>
  </fieldset>
    <%= f.submit t(".assign"), class: "btn btn-xs btn-primary" %>
  <% end %>
</div>



<script type="text/javascript">
  $(document).ready(loadChosen);
  $(document).on('page:load', loadChosen);
</script>