<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado cambiar tu contraseña. Puedes hacerlo a través del siguiente link:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_admin_password_url(@resource, reset_password_token: @token), class: "change-password" %></p>

<p>Si tú no lo has solicitado, por favor ignora este correo.</p>
<p>Tu contraseña no cambiará a menos de que accedas al link anterior y hayas creado una nueva.</p>