<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
   <li class="sidebar-brand">
    </li> 
    <li>
      <%= link_to i18n_admin_sidebar('.summary'), admins_dashboards_path %>
    </li>
    <li>
      <%= link_to i18n_admin_sidebar('.evaluations'), evaluations_path %>
    </li>
  </ul>
</div>
