<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
   <li class="sidebar-brand">
    </li>
    <li>
      <%= link_to "#service_requests_menu", id: "collapse_service_requests", "data-toggle" => "collapse" do %>
        <%= i18n_admin_sidebar('.requests') %>
        <span class="caret"></span>
      <% end %>
      <ul class="js-collapse collapse" id="service_requests_menu">
        <% current_admin.services.each do |service| %>
          <li class="sidebar-info-text">
            <%= link_to service.name, admins_service_path(service) %>
          </li>
        <% end %>
        <% if current_admin.has_no_services? %>
          <li class="sidebar-info-text"><em><%= i18n_admin_sidebar(".no_requests") %></em></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>