html {
  background-color: $white;
}
body{
  color: $gray4;
  font-family: "MuseoSans-300";
  background-color: $white;
}

p {
  font-family: "MuseoSans-300";
}

h1, h2, h3, h4, h5, h6 {
  color: $gray4;
  font-family: "MuseoSans-500";
  margin-top: 0;
}
h1 {

}