@import "base";
@import "fonts";
@import "defaults";
@import "font-awesome";
@import "reports";

/***************************************************
**  COMMON ELEMENTS
***************************************************/

.button {
  display: block;
  padding: 8px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;

  &.blue {
    background-color: $blue;
  }
  &.green {
    background-color: $green;
  }
  &.red {
    background-color: $red;
  }
  &:hover{
    background-color: #444;
  }
  &.rounded {
    @include border-radius($buttonRadius);
  }
}


/***************************************************
**  HEADER
***************************************************/
.header {
  position: relative;
  height: 100px;
  @include box-shadow(0 0 10px #000);

  .container {
    height: 80px;
    background: $white;
    padding: 10px 0;
    z-index: 100;
    position: relative;

    .right {
      float: right;
    }
  }

  &:before{
    position: absolute;
    content: '';
    top: 10px;
    width: 50%;
    left: 0;
    height: 80px;
    background: #1fa69f;
    z-index: 1;
  }

  img {
    max-height: 80px;
    padding-right: 10px;
  }
  .right img:last-child { padding-right: 0; }
}

/***************************************************
**  SLOGAN + MENU
***************************************************/
.slogan {
  background: #2d2d2d url("bg_gray.png");

  .container {
    padding-top: 50px;

    .menu {
      background: $gray3;
      height: 50px;

      a {
        display: block;
        height: 50px;
        line-height: 50px;
        color: $white;
        font-size: 16px;
        padding: 0 30px;
        text-decoration: none;
        border-right: 1px solid lighten($gray3, 10%);
        float: left;

        &:hover{
          background-color: lighten($gray3, 10%);
        }
        &.active {
          background: $white;
          color: $gray5;
        }
      }

      .avatar {
        height: 50px;
      }

      .right {
        float: right;
        position: relative;

        border-right: none;
        border-left: 1px solid lighten($gray3, 10%);


        img {
          display: block;
        }

        .bottom {
          top: 50px;
          right: 0;
          position: absolute;
          display: none;

          a {
            background-color: $gray4;
            display: block;
            float: right;

            &:hover{
              background: lighten($gray4, 5%);;
            }
          }

          &:hover{
            display: block;
          }
        }

        .dropdown:hover + .bottom{
          display: block;
        }

        .dropdown.last {
          border-right: none;
        }
      }
    }
  }

  .banner {
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
  }
}
/***************************************************
**  HOME REPORT STATS
***************************************************/
#reports-stats {

  .container {
    height: 70px;
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid #DDD;
    font-size: 56px;
    line-height: 50px;
    font-weight: bold;

    &.mid {
      border-left: 1px solid #DDD;
      border-right: 1px solid #DDD;
    }

    h3 {
      font-size: 20px;
      line-height: 20px;
    }


  }
}
/***************************************************
**  HOME MAP FILTERS
***************************************************/

.filters {

  &.top {
    border-top: 1px solid #DDDDDD;
    padding-top: 30px;
  }

  h2 {
    font-size: 20px;
  }

  form {
    background: #FAFAFA;
    border: 1px solid #e0e0e0;
  }

  .fields {
    float: left;
    padding: 10px;
    border-right: 1px solid #EEEEEE;
  }
}

/***************************************************
**  HOME REPORTS MAP
***************************************************/

.map {
  min-height: 320px;

  #reports-map {
    width: 100%;
    height: 400px;
    display: block;
  }
}

/***************************************************
**  RECENT REPORTS LIST AT HOME
***************************************************/

.recent {
  padding: 30px 0;

  h2 {
    font-size: 20px;
  }

  .report {
    background: $gray1;
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;

    .votes {
      width: 100px;
      float: right;

      .counter {
        font-size: 30px;
        text-align: center;
      }
    }

    .date {
      float: left;
      width: 100px;
      height: 80px;
      margin-right: 20px; 
    }

    h3 {
      margin: 0;

      a {
        font-weight: normal;
        color: #000;
        font-size: 24px;
        text-decoration: none;
      }
    }
  }
}

/***************************************************
**  REPORTS LIST
***************************************************/

.list {
  padding: 30px 0;

  table.zebra {

    border-collapse: collapse;
    width: 100%;
    margin: 0px 0px;
    font-size: 12px;

    tr:nth-child(odd) {
      background-color: $gray1;
    }

    th {
      a { color: white; }
      background: $gray3;
      color: #fff;
      padding: 10px 5px;
      text-align: center;
      border-right: 1px solid $gray2;
      border-left: 1px solid $gray2;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
    }

    td {
      padding: 10px 5px;
      border-bottom: 1px solid $gray2;
      vertical-align: middle;
      letter-spacing: .5px;
      text-align: center;
      border-left: 1px solid $gray2;
      border-right: 1px solid $gray2;
    }

    tr {
      background: #fff;
    }

    td * {
      padding: 10px 20px 10px 20px;
    }

  }
}

/***************************************************
**  GRID
***************************************************/

.wrapper {
  width: 1100px;
  margin: 0 auto;
}



/***************************************************
**  NEW REPORT FORM
***************************************************/

h1 {
  font-size: 30px;
  padding: 30px 0;
  margin-bottom: 0;
}
.new-report {
  padding-bottom: 50px;

  .map {
    background-color: #EFEFEF;
  }

  form {
    .fields {
      padding: 10px 0;
      border-TOP: 1px solid #E0E0E0;

      label {
        float: left;
        width: 160px;
        display: block;
        font-size: 16px;
      }
    }

    input[type="text"], select, textarea, #address {
      display: block;
      width: 200px;
    }
  }
}


/***************************************************
**  SHOW REPORT
***************************************************/

.report-show {
  padding-top: 50px;

  > .container {
    position: relative;

    .title {
      background-color: #FAFAFA;
      height: 60px;
      font-size: 30px;
      padding: 0 20px;
      line-height: 60px;
      margin: 0;
    }
    .map {
      background-color: #CCCCCC;
    }

    .information {
      padding: 20px;
      background-color: #EEEEEE;
    }

    .stream {
      padding-left: 100px;
      padding-top: 40px;
      position: relative;
      margin-bottom: 50px;

      &:before{
        content: '';
        width: 5px;
        height: 100%;
        position: absolute;
        background-color: #EEEEEE;
        left: 48px;
        top: 0;
      }

      .activity {
        position: relative;
        padding: 10px;
        background-color: #EFEFEF;
        @include box-shadow(1px 1px 0px #DDDDDD);
        margin-bottom: 20px;
        width: 75%;
        z-index: 1000;
        font-size: 18px;

        &:before{
          width: 20px;
          height: 20px;
          content: '';
          background-color: #46a59f;
          @include border-radius(50%);
          display: block;
          position: absolute;
          left: -59px;
          top: 10px;
          z-index: 10;
        }
        &:after{
          width: 55px;
          height: 5px;
          content: '';
          background-color: #EEEEEE;
          display: block;
          position: absolute;
          left: -55px;
          top: 17px;
          z-index: 0;
        }

        img.avatar {
          width: 45px;
          height: 45px;
          border: 4px solid #FFF;
          @include box-shadow(1px 1px 2px #DDDDDD);
          position: absolute;
          left: -75px;
          top: 0;
          z-index: 1000;
        }

        .date {
          position: absolute;
          width: 30%;
          right: -35%;
          top: 5px;
          height: 30px;
          font-size: 16px;
          line-height: 30px;
          color: #666;
          font-weight: normal;

          i {
            margin-right: 5px;
          }
        }

        &.description, &.comment {

          p {
            margin: 0 0 5px 0;
          }
          .name {
            text-align: right;
            font-size: 12px;
            color: #000;
            font-weight: bold;
            margin: 0;
            text-transform: uppercase;
          }
        }

        &.form {
          textarea {
            width: 100%;
            height: 90px;
            border: none;
            padding: 10px;
            @include box-sizing(border-box);
            margin-bottom: 5px;
          }
          input {
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
          }
        }

        &.start {
          background-color: #46a59f;
          color: #FFF;
          font-weight: bold;
        }

      }
    }

    .right {
      padding-left: 30px;

      .location {
        p {
          font-size: 18px;
        }
      }
      h3 {
        font-weight: bold;
        font-size: 26px;
        margin-bottom: 10px;
      }
    }
  }
}

/***************************************************
**  FOOTER
***************************************************/

.footer {
  background-color: #303030;
  height: 150px;
  color: #FFF;
  text-align: center;

  .container {
    padding: 20px 0;
  }

  .cmx-logo {
    height: 100px;
  }
}

/**************
** NOTICES
***************/

.alert, .notice, .success {
  position: absolute;
  left: 50%;
  top: 70px;
  padding: 10px 70px;
  margin-left: -140px;
  border: 1px solid;
  z-index: 1000;
}

.alert {
  color: #D8000C;
  background: #FFBABA;
}

.success {
  color: #4F8A10;
  background: #DFF2BF;
}

.notice {
  color: #9F6000;
  background: #FEEFB3;
}

/**************
** Images container drag & drop 
***************/

.image_uploader {
  height: 100px;
  width: 610px;
  border: 2px dashed #ccc;
  visibility: hidden;
}

.image_container {
  border: 2px dashed #ccc;
  width: 100px;
  height: 100px;
  text-align: center;
  position: absolute;
  bottom: 10px;

  &:hover {
    cursor: pointer;
  }

  .add_image {
    font-size: 72px;
    color: #999;
    font-weight: bold;
  }
}

.destroy_comment {
  float: left;
}


/**************
** Forms
***************/

.sign-up {
  width: 400px;
  margin: 30px auto 30px auto;

  .form-header {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
  }

  .fields {
    margin-bottom: 10px;

    label {
      display: block;
      font-size: 16px;
    }

    input {
      display: block;
      width: 350px;
      border: 1px solid #CCC;
      height: 30px;
      padding-left: 8px;
    }
  }

  .actions {
    margin-bottom: 25px;
    input {
      width: 358px;
      font-size: 24px;
    }
  }

  hr {
    width: 350px;
    margin: 0 0 18px 0;
  }
}

.sign-in {
  @extend .sign-up;
}

.shared_devise_links {
  a {
    margin-bottom: 5px;
    display: block;
  }
}

