@import "base";
@import "fonts";
@import "defaults";

/***************************************************
**  COMMON ELEMENTS
***************************************************/

.button {
  display: block;
  padding: 8px 20px;
  text-decoration: none;
  text-align: center;
  font-size: ms(.5);
  text-transform: uppercase;
  color: $white;

  &.blue {
    background-color: $blue;
  }
  &.green {
    background-color: $green;
  }
  &.red {
    background-color: $red;
  }
  &:hover{
    background-color: #444;
  }
  &.rounded {
    @include border-radius($buttonRadius);
  }
}

/***************************************************
**  GRID
***************************************************/

.wrapper {
  width: 960px;
  margin: 0 auto;
}


/***************************************************
**  HEADER
***************************************************/

.header {
  background-color: $black;
  height: 66px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid #999;
  @include box-shadow(0px 0px 10px #222);


  .container {
    padding: 15px;
    height: 36px;

    .logo {
      float: left;
    }

    .menu {
      float: right;

      a {
        color: $white;
        float: left;
        display: block;
        padding: 10px;
        margin-left: 15px;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
      }

      .box {
        float: right;
        height: 36px;
        width: auto;
        margin-left: 25px;
        background-color: #CCC;
        @include border-radius(3px); 

        .container {
          padding: 3px;
        }

        .avatar {
          display: block;
          width: 30px;
          height: auto;
        }

        a {
          float: right;
          display: inline-block;
          padding: 8px;
          color: $gray3;
          margin: 0;

          &:hover{
            color: $black;
          }
        }

        &.flying {
          background-color: #7ebbd5;
          position: fixed;
          top: 85px;
          right: 15px;
          height: auto;
          @include box-shadow(0px 0px 0px 5px rgba(#0a4964, .2));

          .container {
            padding: 0;  
          }
          

          p {
            text-align: center;
            padding: 5px;
            color: #FFF;
            background-color: #5fa6c4;
            font-weight: bold;
            margin-bottom: 0;
            border-bottom: 1px solid #90cce6;
          }

          a {
            color: #FFF;
            font-weight: bold;
            padding: 8px 12px;
            margin: 0;
            &:hover {
              color: #0a4964;
            }
          }
        }
      }
    }
  }
}

/***************************************************
**  MAIN LAYOUT
***************************************************/

.main {
  padding-top: 65px;
}

.sidebar {
  background-color: $gray2;
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  width: 360px;

  .container {
    padding: 40px;
  }
}

/***************************************************
**  INDEX REPORTS
***************************************************/

.filters {
  padding: 20px;
  background-color: #7ebbd5;
  margin-bottom: 10px;

  label {
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    width: 100px;
  }
  .submit {
    margin-left: 107px;
    margin-top: 10px;
  }
}
.list {
  position: relative;
  z-index: 50;
  left: 20px;
  width: 37%;
  min-width: 390px;
  background-color: rgba($black, .2);

  .container {
    padding: 10px;

    .report {
      background-color: $white;
      padding: 15px;
      margin-bottom: 10px;

      .title {
        text-decoration: none;
        color: #333;
        font-weight: bold;
      }
      .user {
        font-weight: bold;
      }

      .votes {
        float: right;

        a {
          margin: 0;
        }
      }
    }
  }
}

/***************************************************
**  VOTES WIDGET
***************************************************/
.votes {
    width: 120px;

    .counter {
      border: 2px solid $blue;
      border-bottom: none;
      padding: 10px;
      text-align: center;
      font-size: ms(1);
      @include border-top-right-radius($buttonRadius);
      @include border-top-left-radius($buttonRadius);
      background-color: $white;
    }

    .button {
      margin-bottom: 20px;
      @include border-top-right-radius(0);
      @include border-top-left-radius(0);

      &:hover {
        background-color: darken($blue, 15%);
      }
    }

    .status {
      padding: 5px;
      text-align: center;
      background-color: $green;
      color: $white;
      font-size: ms(.5);

      i {
        margin-right: 10px;
      }
    }

  }

/***************************************************
**  SHOW REPORT
***************************************************/

.map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  min-height: 320px;

  #reports-map {
    width: 100%;
    height: 100%;
    display: block;
  }

  .aereo_box {
    top: 100px;
    left: 50%;
    margin-left: 10%;
    width: 300px;
    height: 220px;
    background-color: $white;
    position: absolute;
  }
}

.show {
  @include box-shadow(0px -1px 10px #888);
  position: relative;
  padding-bottom: 30px;

  > .container {
    padding-top: 30px;
  }

  .report_box {
    border-top: none;
    margin-bottom: 30px;

    h2 {
      font-size: ms(2);
    }
  }

  .column {
    @include box-sizing(border-box);
  }
  .info {
    width: 700px;
    padding: 0 30px;

    .title {
      margin-bottom: $regMargin;
    }

    .starter {
      .avatar {
        float: left;
        margin-right: $regMargin;
      }
      .image {
        padding: 20px 0 0 0;
        img {
          max-width: 100%;
        }
      }
      .name {
        font-size: ms(.5);
        font-family: "MuseoSans-700";
        margin-bottom: 5px;
      }
      .description {
        font-size: ms(1);
        color: $gray3;
        margin-bottom: 5px;
        padding-left: 80px;
      }
      .time {
        padding-left: 80px;
      }
    }

    .admin {
      padding: 10px;
      background-color: $green;
      margin-bottom: 30px;
      @include box-shadow(0px 1px 2px #CCC);
      border-left: 5px solid darken($green, 20%);
      font-size: ms(1);

      .field {
        padding-top: 5px;
      }

      .submit {
        float: right;
        border: none;
        cursor: pointer;
        background-color: darken($green, 20%);
        color: $white;

        &:hover{
          background-color: darken($green, 30%);
        }
      }

    }

    .comments {
      position: relative;

      .comment {
        padding: 10px;
        background-color: $white;
        margin-bottom: 10px;
        @include box-shadow(0px 1px 2px #CCC);
        border-left: 5px solid $blue;

        .avatar {
          float: left;
          margin-right: 20px;
        }
        .created_by, .content {
          padding-left: 60px;
        }
        .created_by {
          font-family: "MuseoSans-700";
          font-weight: bold;
        }

        textarea {
          height: 40px;
          width: 400px;
          padding: 5px;
          font-size: ms(.5);
          border: 1px solid $gray2;
        }
        .submit {
          float: right;
          border: none;
          cursor: pointer;
        }

        &.green {
          border-left: 5px solid $green;
        }
      }
    }


  }
  .social {
    width: 140px;
  }
}

/***************************************************
**  FOOTER
***************************************************/

.footer {
  
}

/**************
** NOTICES
***************/

.alert, .notice, .success {
  position: absolute;
  left: 50%;
  top: 70px;
  padding: 10px 70px;
  margin-left: -140px;
  border: 1px solid;
  z-index: 1000;
}

.alert {
  color: #D8000C;
  background: #FFBABA;
}

.success {
  color: #4F8A10;
  background: #DFF2BF;
}

.notice {
  color: #9F6000;
  background: #FEEFB3;
}

/**************
** Images container drag & drop 
***************/

.image_uploader {
  height: 100px;
  width: 610px;
  border: 2px dashed #ccc;
  visibility: hidden;
}

.image_container {
  border: 2px dashed #ccc;
  width: 100px;
  height: 100px;
  text-align: center;
  position: absolute;
  bottom: 10px;

  &:hover {
    cursor: pointer;
  }

  .add_image {
    font-size: 72px;
    color: #999;
    font-weight: bold;
  }
}
