@import "base";
@import "fonts";
@import "defaults";



/***************************************************
**  HEADER
***************************************************/

.header {
  background-color: $black;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .container {
    padding: 15px;
  }
}

/***************************************************
**  MAIN LAYOUT
***************************************************/

.main {
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}

.list {
  padding-right: 360px;

  .container {
    padding: 20px;

    .report {
      background-color: $white;
      padding: 10px;
      margin-bottom: 10px;
    }
  }
}

.sidebar {
  background-color: $gray2;
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  width: 360px;

  .container {
    padding: 40px;
  }
}

/***************************************************
**  FOOTER
***************************************************/

.footer {
  
}

/**************
** NOTICES
***************/

.alert, .notice, .success {
  position: absolute;
  left: 50%;
  top: 70px;
  padding: 10px 70px;
  margin-left: -140px;
  border: 1px solid;
  z-index: 1000;
}

.alert {
  color: #D8000C;
  background: #FFBABA;
}

.success {
  color: #4F8A10;
  background: #DFF2BF;
}

.notice {
  color: #9F6000;
  background: #FEEFB3;
}
