#new-report-map{
  height: 320px;
}

.table-header {

  &:hover {
    cursor: pointer;
  }
}

.image.tight img {
  width: 100%
}

input[type="file"] {
  margin-bottom: 15px;
}

span.address {
  font-size: 12px;
}
