%table.table
  %theader
    %tr
      %th Identificador
      %th Categoria
      %th Descripción
      %th Estatus
    - @reports.each do |report|
      %tr
        %td= report.id
        %td= report.category.name
        %td= truncate report.description
        %td= status_name report.status
