<p>¡Hola <%= @resource.email %>!</p>

<p>Alguien a pedido cambiar tu contraseña. Lo puedes hacer a traves del siguiente correo.</p>

<p><%= link_to 'Cambiar contraseña',edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no pediste eso, solo ignora este correo.</p>
<p>Tu contraseña no cambiara hasta que acceses a la liga superior y lo cambies tu mismo.</p>
