= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { autocomplete: :off, class: 'form-short-stacked' }) do |f|
  %h2 Completar registro
  = f.email_field :email, autofocus: true, class: 'form-control one-field', placeholder: 'Email'
  .actions= f.submit "Completar", class: 'btn btn-lg btn-primary btn-block'

= render "users/shared/aviso_privacidad"